@layer reset, base, layout, components, utilities, overrides;

@layer base {

    @font-face {
        font-display: swap;
        font-family: "Bitter";
        font-stretch: 100% 100%;
        font-style: normal;
        font-weight: 100 900;
        src: url("../fonts/bitter-variable-font-wght.woff2") format("woff2-variations");
    }

    @font-face {
        font-display: swap;
        font-family: "Bitter";
        font-stretch: 100% 100%;
        font-style: italic;
        font-weight: 100 900;
        src: url("../fonts/bitter-italic-variable-font-wght.woff2") format("woff2-variations");
    }

    @font-face {
        font-display: swap;
        font-family: "Kumbh Sans";
        font-stretch: 100% 100%;
        font-style: normal;
        font-weight: 100 900;
        src: url("../fonts/kumbh-sans-variable-font-wght.woff2") format("woff2-variations");
    }

    @font-face {
        font-display: swap;
        font-family: "Roboto Mono";
        font-stretch: 100% 100%;
        font-style: normal;
        font-weight: 100 900;
        src: url("../fonts/roboto-mono-variable-font_wght.woff2") format("woff2-variations");
    }

    body {
        background-color: var(--theme-base);
        color: var(--theme-contrast);
        font-family: var(--font-primary, sans-serif);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }

    h1, h2, h3, h4, h5 ,h6 {
        font-family: var(--font-secondary, serif);
        font-weight: 700;
    }

    h1 {
        font-size: var(--respon-size-2xl);
    }

    h2 {
        font-size: var(--respon-size-xl);
    }

    h3 {
        font-size: var(--respon-size-lg);
    }

    h4 {
        font-size: var(--respon-size-md);
    }

    h5 {
        font-size: var(--respon-size-sm);
    }

    h6 {
        font-size: var(--respon-size-xs);
    }

    :is(a, li, p) {
        font-size: var(--font-size);
    }

    a:link,
    a:visited {
        color: var(--primary-30);
        display: inline-block;
        font-weight: 450;
        transition: color var(--duration-1) var(--timing-function);
    }

    a:hover {
        color: var(--primary-20);
        text-underline-offset: 0.25rem;
    }

    blockquote {
        color: var(--primary-20);
        font-style: italic;   
    }

    figcaption {
        color: var(--primary-20);
        font-size: var(--font-size);
    }

    li {
        list-style-type: disc;
    }

    li::marker {
        color: var(--primary-30);
    }

    ol, ul {
        margin-left: var(--adapt-size-xs);
    }

    q {
        font-weight: 500;
    }

    ::selection {
        background-color: var(--theme-contrast);
        color: var(--theme-base);
    }
}

@layer layout {

    /*** Grid and Template Columns ***/

    .grid-cols {
        --col-min-width: 480px;
        --col-full: minmax(var(--equal-size-md), 1fr);
        --col-xs: min(var(--col-min-width), 100% - var(--equal-size-xl));
        --col-sm: minmax(0, 5rem);
        --col-md: minmax(0, 5rem);
        --col-lg: minmax(0, 5rem);
        --col-xl: minmax(0, 10rem);

        display: grid;
        grid-template-columns:
            [col-full-start] var(--col-full)
            [col-xl-start] var(--col-xl)
            [col-lg-start] var(--col-lg)
            [col-md-start] var(--col-md)
            [col-sm-start] var(--col-sm)
            [col-xs-start] var(--col-xs) [col-xs-end]
            var(--col-sm) [col-sm-end]
            var(--col-md) [col-md-end]
            var(--col-lg) [col-lg-end]
            var(--col-xl) [col-xl-end]
            var(--col-full) [col-full-end];
    }

    .grid-cols > *,
    .col-md {
        grid-column: col-md;
    }

    .col-xs {
        grid-column: col-xs;
    }

    .col-sm {
        grid-column: col-sm;
    }

    .col-lg {
        grid-column: col-lg;
    }

    .col-xl {
        grid-column: col-xl;
    }

    .col-full {
        grid-column: col-full;
    }

    /*** Inner Grid and Template Columns ***/

    .content__wrapper .inner-grid-cols {
        display: grid;
        gap: var(--adapt-size-sm);
        grid-template-columns: repeat(var(--column-repeat), minmax(min(var(--column-min), 100%), 1fr));
    }

    .inner-grid-cols.cols-fill {
        --column-repeat: auto-fill;
    }

    .inner-grid-cols.cols-fit {
        --column-repeat: auto-fit;
    }

    .inner-grid-cols.cols-xl {
        --column-min: 28rem;
    }

    .inner-grid-cols.cols-lg {
        --column-min: 24rem;
    }

    .inner-grid-cols.cols-md {
        --column-min: 20rem;
    }

    .inner-grid-cols.cols-sm {
        --column-min: 16rem;
    }

    .inner-grid-cols.cols-xs {
        --column-min: 12rem;
    }

    /*** Vertical margins in the Content Wrapper ***/

    .content__wrapper {
        row-gap: var(--respon-size-2xl);
    }

    .content__wrapper > div > * + *,
    .content__wrapper p + a,
    .content__wrapper :is(ol, ul) {
        margin-top: var(--respon-size-xl);
    }

    .content__wrapper h1 + * {
        margin-top: var(--respon-size-md);
    }
    
    .content__wrapper h2 + * {
        margin-top: var(--respon-size-xs);
    }
    
    .content__wrapper :is(h3, h4) + *,
    .content__wrapper p + a:not(.button) {
        margin-top: var(--respon-size-2xs);
    }
    
    .content__wrapper :is(h5, h6) + *,
    .content__wrapper li + li {
        margin-top: var(--respon-size-3xs);
    }

    /*** Vertical paddings of the Wrappers ***/

    :is(.header__wrapper, .footer__wrapper) {
        padding-block: var(--respon-size-md);
    }

    .content__wrapper {
        padding-block: var(--adapt-size-lg);
    }

    /*** Header ***/

    .header__wrapper > div {
        align-items: center;
        display: flex;
        justify-content: space-between
    }

    /*** Footer ***/

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--respon-size-3xs);
    }
}

@layer components {

    /*** Button ***/

    button,
    .button {
        background-color: transparent;
        border-style: solid;
        border-width: 0.125rem;
        border-radius: 3rem;
        font-size: var(--font-size);
        padding: var(--respon-size-3xs) var(--respon-size-md);
        position: relative;
        text-decoration: none;
        transition: all var(--duration-2) var(--timing-function);
    }

    :is(button, .button):has(span:only-child):before {
        border-radius: 3rem;
        content: " ";
        height: calc(100% - 4px);
        left: 0;
        margin: 2px;
        position: absolute;
        top: 0;
        transform: scale(0.75);
        width: calc(100% - 4px);
    }

    :is(button, .button),
    :is(button, .button):has(span:only-child):before {
        transition: all var(--duration-2) var(--timing-function);
    }

    :is(button, .button):has(span:only-child):is(:hover, :active):before {
        background-color: var(--button-background);
        transform: scale(1);
    }

    :is(button, .button) span:only-child {
        position: relative;
    }

    /*** Button Color Default ***/

    button {
        border-color: var(--primary-30);
        color: var(--primary-20);
    }

    button:hover {
        background-color: var(--primary-10);
        border-color: var(--primary-10);
        color: var(--theme-base);
    }

    button:active {
        background-color: var(--theme-contrast);
        border-color: var(--theme-contrast);
        color: var(--theme-base);
    }

    /*** Button Color Default ***/

    .button {
        border-color: var(--primary-50);
        color: var(--primary-30);
    }

    .button:hover {
        --button-background: var(--primary-50);
        background-color: transparent;
        border-color: var(--primary-50);
        color: var(--theme-contrast);
    }

    .button:active {
        --button-background: var(--primary-40);
        background-color: transparent;
        border-color: var(--primary-40);
        color: var(--theme-contrast);
    }

    /*** Button Color Primary ***/

    .button.color-primary {
        border-color: var(--primary-30);
        color: var(--primary-20);
    }

    .button.color-primary:hover {
        --button-background: var(--primary-10);
        border-color: var(--primary-10);
        color: var(--theme-base);
    }

    .button.color-primary:active {
        --button-background: var(--theme-contrast);
        border-color: var(--theme-contrast);
        color: var(--theme-base);
    }

    /*** Button Color Accent ***/

    .button.color-accent {
        border-color: var(--accent-20);
        color: var(--accent-10);
    }

    .button.color-accent:hover {
        --button-background: var(--accent-20);
        border-color: var(--accent-20);
        color: var(--theme-base);
    }

    .button.color-accent:active {
        --button-background: var(--accent-10);
        border-color: var(--accent-10);
        color: var(--theme-base);
    }

    /*** Button Sizes ***/

    .button.text-sm {
        padding: var(--respon-size-4xs) var(--respon-size-sm);
    }

    .button.text-md {
        padding: var(--respon-size-3xs) var(--respon-size-md);
    }

    .button.text-lg {
        padding: var(--respon-size-2xs) var(--respon-size-lg);
    }

    /*** Button Specific Styles ***/

    .button.style-stealth {
        border-color: transparent;
    }

    .button.style-stealth:hover {
        border-color: transparent;
        text-decoration: none;
    }

    .button.style-stealth:before {
        height: 100%;
        margin: 0;
        width: 100%;
    }

    /*** Buttons Wrapper ***/

    .buttons,
    :is(div, p):has(> .button + .button) {
        align-items: center;
        display: flex;
        gap: var(--adapt-size-xs);
        flex-wrap: wrap;
    }

    @media only screen and (max-width: 440px) {

        :is(button, .button) {
            text-align: center;
            width: 100%;
        }
    }

    /*** Logo ***/

    .logo {
        align-items: center;
        display: flex;
        gap: var(--respon-size-3xs);
        text-decoration: none;
        width: fit-content;
    }

    .logo :is(.stroke, .dot, .hexagon, .logo__text span, strong)  {
        transition: all var(--duration-2) var(--timing-function);
    }

    .logo__shape svg {
        width: clamp(3.5rem, 4vw, 4rem);
    }

    .logo__shape .stroke {
        stroke: var(--primary-20);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2.4;
    }

    .logo__shape .dot {
        fill: var(--primary-20);
    }

    .logo__shape .hexagon {
        fill: var(--primary-60);
    }

    .logo__text {
        display: flex;
        flex-direction: column;
    }

    .logo__text strong {
        color: var(--secondary-20);
    }

    .logo__text span:first-child {
        color: var(--primary-10);
        font-family: var(--font-secondary);
        font-size: clamp(1.125rem, 1.5vw, 1.5rem);
        font-weight: 500;
        letter-spacing: 0.0375rem;
        line-height: 1.25;
    }

    .logo__text span:last-child {
        color: var(--primary-30);
        font-family: var(--font-monospace);
        font-size: clamp(0.75rem, 1vw, 0.875rem);
        text-transform: uppercase;
    }

    .logo:hover .stroke {
        stroke: var(--theme-contrast);
    }

    .logo:hover .dot {
        fill: var(--theme-contrast);
    }

    .logo:hover .hexagon {
        fill: var(--primary-50);
    }

    .logo:hover strong {
        color: var(--secondary-10);
    }

    .logo:hover .logo__text span:first-child {
        color: var(--theme-contrast);
    }

    .logo:hover .logo__text span:last-child {
        color: var(--primary-20);
    }

    @media only screen and (min-width: 501px) {

        .logo__text span:first-child br {
            display: none;
        }
    }

    @media only screen and (max-width: 500px) {

        .logo__text span:last-child {
            display: none;
        }
    }

    /*** Showcase ***/

    .showcase {
        background-color: var(--theme-foreground);
        border-radius: var(--adapt-size-sm);
        display: grid;
        grid-template-rows: 1fr max-content;
        overflow: auto;
        transition: background-color var(--duration-3) var(--timing-function);
    }

    .showcase:hover {
        background-color: var(--primary-60);
    }

    .showcase:active {
        background-color: var(--primary-50);
    }

    .showcase__text {
        padding: var(--adapt-size-md);
    }

    .showcase__text h3 {
        color: var(--primary-10);
        font-size: var(--font-size-xs);
    }

    .showcase__text h4 {
        font-size: clamp(1.5rem, 2vw, 2rem);
        margin-top: 0.25rem;
    }

    .showcase__text ul {
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }
    
    .showcase__text ul li {
        color: var(--primary-30);
        font-family: var(--font-monospace);
        font-size: var(--respon-size-3xs);
        list-style: none;
        margin: 0;
        text-transform: uppercase;
    }

    .showcase__text ul li:not(:last-child):after {
        content: ", ";
    }

    .showcase__image {
        padding-left: var(--adapt-size-md);
    }

    .showcase__image img {
        aspect-ratio: 16 / 10;
        object-fit: contain;
        width: 100%;
    }

    /*** Scroll Slider, Oh Snap! ***/

    .scroll-snap-x {
        display: flex;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }

    .scroll-snap-x > * {
        flex-shrink: 0;
        scroll-snap-align: end;
        scroll-snap-stop: always;
    }

    .scroll-showcases {
        gap: var(--adapt-size-sm);
        padding-inline: var(--adapt-size-sm);
        padding-block-end: var(--adapt-size-sm);
        scroll-padding-inline: var(--adapt-size-sm);
    }

    .scroll-showcases > * {
        inline-size: min(480px,100%);
    }

    /*** Tabs ***/

    .tabs {
        background-color: var(--theme-subtle);
        display: flex;
    }

    .tab__list {
        display: flex;
        gap: var(--equal-size-sm);
    }

    .tab__list button {
        align-items: center;
        border-color: transparent;
        border-radius: calc(var(--equal-size-xs) - 0.25rem);
        display: grid;
        font-family: var(--font-secondary);
        font-size: var(--font-size-xs);
        font-weight: 700;
        gap: var(--equal-size-sm);
        padding: var(--equal-size-xs) var(--equal-size-sm);
        transition-property: color, background-color, border;
        transition-duration: var(--duration-4);
        transition-timing-function: var(--timing-function);
    }

    .tab__list button[aria-selected="true"] {
        background-color: var(--theme-foreground);
        color: var(--primary-10);
    }

    .tab__list button:hover {
        background-color: transparent;
        border-color: var(--primary-60);
        color: var(--theme-contrast);
    }

    .tab__list button:active {
        background-color: var(--theme-foreground);
        color: var(--primary-30);
    }

    .tab__list button figure {
        width: 96px;
    }

    .tab__panel {
        align-items: center;
        background-color: var(--theme-foreground);
        display: flex;
        margin-top: 0;
        padding: var(--adapt-size-lg);
    }

    @media only screen and (min-width: 961px) {
        
        .tabs {
            border-radius: var(--equal-size-sm);
            flex-direction: row;
            gap: var(--equal-size-xs);
            grid-column: col-xl;
            padding: var(--equal-size-xs);
        }

        :is(.tab__list, .tab__panel) {
            border-radius: var(--equal-size-xs);
        }

        .tab__list {
            flex-direction: column;
            padding: var(--equal-size-xs);
        }

        .tab__list button {
            grid-template-columns: 1fr minmax(120px, 1fr);
        }
    }

    @media only screen and (max-width: 960px) {
        
        .tabs {
            flex-direction: column;
            grid-column: col-full;
        }

        .tab__list {
            align-self: center;
            flex-direction: row;
            max-width: 100%; /* fix for scroll-snap & align-self */
            overflow-x: auto;
            padding: var(--equal-size-xs);
        }

        .tab__list button span {
            width: max-content;
        }

        .tab__list button figure {
            display: none;
        }
    }

    /*** Tab SVGs ***/

    .tab__list button .stroke {
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
    }

    .tab__list button .stroke-dasharray {
        stroke-dasharray: 4 4;
    }

    .tab__list button .fill-base {
        fill: var(--primary-50);
    }

    .tab__list button .stroke-base {
        stroke: var(--primary-50);
    }

    .tab__list button .fill-contrast {
        fill: var(--primary-30);
    }

    .tab__list button .stroke-contrast {
        stroke: var(--primary-30);
    }    

    .tab__list button[aria-selected="true"]:hover .fill-contrast {
        fill: var(--theme-contrast);
    }
    
    .tab__list button[aria-selected="true"]:hover .stroke-contrast {
        stroke: var(--theme-contrast);
    }

    .tab__list :is(button, button[aria-selected="true"]):hover .fill-contrast,
    .tab__list button[aria-selected="true"] .fill-contrast {
        fill: var(--primary-10);
    }

    .tab__list :is(button, button[aria-selected="true"]):hover .stroke-contrast,
    .tab__list button[aria-selected="true"] .stroke-contrast {
        stroke: var(--primary-10);
    }

    .tab__list button[aria-selected="true"] .fill-base {
        fill: var(--primary-40);
    }

    .tab__list button[aria-selected="true"] .stroke-base {
        stroke: var(--primary-40);
    }

    .tab__list button :is(.fill, .stroke) {
        transition-property: fill, stroke;
        transition-duration: var(--duration-3);
        transition-timing-function: var(--timing-function);
    }

    /*** Dock ***/

    .dock {
        background-color: var(--primary-60);
        border: 1px solid hsla(0, 0%, var(--contrastness), 0.05);
        border-radius: var(--respon-size-2xs);
        display: inline-flex;
        gap: var(--respon-size-4xs);
        margin-left: 0;
        padding: 0.5rem;
    }

    .dock__item {
        height: calc(var(--respon-size-sm) * 2);
        list-style: none;
        margin: 0;
        position: relative;
        width: calc(var(--respon-size-sm) * 2);
    }

    .dock__item figure {
        display: flex;
        justify-content: center;
    }

    .dock__item img {
        border-radius: var(--respon-size-4xs);
        width: 100%;
        z-index: 1;
    }

    .dock__item figcaption {
        background-color: var(--theme-contrast);
        border-radius: 0.25rem;
        color: var(--theme-base);
        font-size: 1rem;
        margin: 0;
        opacity: 0;
        padding: 0.25rem 0.5rem;
        position: absolute;
        transition-delay: var(--duration-1);
    }

    .dock__item img:hover {
        transform: scale(1.1428) translateY(-6%);
    }

    .dock__item img:hover + figcaption {
        opacity: 1;
        transform: translateY(-150%);
    }

    .dock__item :is(img, figcaption) {
        transition: all var(--duration-2) var(--timing-function);
    }

    /*** Splashscreen ***/

    .page__content :has(.wrapper__splash) {
        height: 100vh;
    }

    .wrapper__splash {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--respon-size-4xs);
        justify-content: center;
        text-align: center;
    }

    .wrapper__splash h1 {
        font-size: var(--respon-size-4xl);
        letter-spacing: 0.0375rem;
    }

    .wrapper__splash h1 span {
        color: var(--secondary-20);
    }

    .wrapper__splash h2 {
        color: var(--primary-20);
        font-family: var(--font-monospace);
        font-size: var(--font-size-lg);
        font-weight: 500;
        margin-top: 0;
        text-transform: uppercase;
    }

    /*** Figure with Image & Figcaption ***/

    figure:has(img + figcaption) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    figure:has(img + figcaption) img {
        border-radius: var(--adapt-size-sm);
    }
    
    figure:has(img + figcaption) figcaption {
        margin-inline: var(--adapt-size-sm);
        margin-top: var(--adapt-size-xs);
    }

    /*** Figure with Blockquote & Figcaption ***/

    figure:has(blockquote + figcaption) blockquote p {
        font-family: var(--font-secondary);
        font-size: var(--respon-size-md);
        font-weight: 700;
    }

    figure:has(blockquote + figcaption) blockquote p:before {
        content: '“';
        margin-inline-end: 0.25rem;
    }

    figure:has(blockquote + figcaption) blockquote p:after {
        content: '”';
        margin-inline-start: 0.125rem;
    }
    
    figure:has(blockquote + figcaption) figcaption {
        font-size: var(--font-size-sm);
        margin-top: var(--respon-size-3xs);
    }

    /*** Multi Columns ***/

    .multi-columns {
        column-width: 280px;
        column-gap: var(--respon-size-xl);
    }

    .multi-columns {
        column-width: 280px;
        column-gap: var(--respon-size-xl);
    }

    .multi-columns li + li {
        margin-top: var(--respon-size-xs);
    }

    /*** Socials ***/

    .socials {
        display: flex;
        gap: var(--respon-size-3xs);
    }

    .social {
        align-items: center;
        background-color: transparent;
        border-radius: calc(var(--respon-size-2xl) / 2);
        display: flex;
        height: var(--respon-size-2xl);
        justify-content: center;
        position: relative;
        width: var(--respon-size-2xl);
    }

    .social:before,
    .social:after {
        border-radius: calc(var(--respon-size-2xl) / 2);
        content: " ";
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .social:before {
        background-color: var(--theme-subtle); 
        opacity: 0;
        transform: scale(0.75);
        transition-duration: var(--duration-3);
    }

    .social:after {
        background-color: var(--primary-60);
        transform: scale(1);
        transition-duration: var(--duration-4);
    }

    .social:hover:before {
        opacity: 1;
        transform: scale(1);
    }

    .social:hover:after {
        background-color: hsl(var(--white));
        transform: scale(0.85);
    }

    .social:active:after {
        transform: scale(0.9);
    }

    .social:active:before {
        background-color: var(--primary-50);
    }

    .social svg {
        display: inline-block;
        fill: var(--primary-10);
        height: var(--respon-size-xs);
        position: absolute;
        width: var(--respon-size-xs);
        z-index: 1;
    }

    .social:hover svg {
        fill: hsl(var(--black));
    }

    .social.codepen:before {
        background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    }

    .social.dribbble:before {
        background-color: #ea4c89;
    }

    .social.github:before {
        background-color: #6e40c9;
    }

    .social.instagram:before {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285aeB 90%);
    }

    .social.linkedin:before {
        background-color: #0a66c2;
    }

    .social.twitter:before {
        background-color: #1d9bf0;
    }

    .social:is(:before, :after),
    .social svg {
        transition-property: all;
        transition-timing-function: var(--timing-function);
    }
}

@layer utilities {

    /*** Header Sizes ***/

    .heading-2xs {
        font-size: var(--heading-size-2xs);
    }

    .heading-xs {
        font-size: var(--heading-size-xs);
    }

    .heading-sm {
        font-size: var(--heading-size-sm);
    }

    .heading-md {
        font-size: var(--heading-size);
    }

    .heading-lg {
        font-size: var(--heading-size-lg);
    }

    .heading-xl {
        font-size: var(--heading-size-xl);
    }

    .heading-2xl {
        font-size: var(--heading-size-2xl);
    }

    /*** Text Sizes ***/

    .text-xs,
    .text-xs :is(a, p) {
        font-size: var(--font-size-xs);
    }

    .text-sm,
    .text-sm :is(a, p) {
        font-size: var(--font-size-sm);
    }

    .text-md,
    .text-md :is(a, p) {
        font-size: var(--font-size);
    }

    .text-lg,
    .text-lg :is(a, p) {
        font-size: var(--font-size-lg);
    }

    .text-xl,
    .text-xl :is(a, p) {
        font-size: var(--font-size-xl);
    }

    /*** Text Align ***/

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-start {
        text-align: start;
    }

    .text-end {
        text-align: end;
    }

    /*** Background Color ***/

    .bg-color {
        background-color: var(--theme-foreground);
        border-radius: var(--equal-size-md);
        padding: var(--respon-size-md);
    }

    .bg-color .bg-color {
        background-color: var(--primary-50);
        border-radius: var(--equal-size-xs);
    }
}

@layer overrides {

    /*** Full Column doesn't like a radius =) ***/

    .col-full.bg-color {
        border-radius: unset;
    }

    /*** Position page elements above the blobs ***/

    :is(.page__header, .page__content, .page__footer) {
        position: relative;
    }

    /*** At-rules for cross-browser support ***/

    @supports (not selector(:has(*))) or (not selector(:has(+ *)))  {
        :is(button, .button):hover {
            background-color: var(--button-background);
        }
    }
}