@layer reset, base, layout, components, utilities, overrides;

@layer base {

    @font-face {
        font-display: swap;
        font-family: "Bitter";
        src: url("../fonts/bitter-variable-font-wght.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-stretch: 100% 100%;
        font-style: normal;
    }

    @font-face {
        font-display: swap;
        font-family: "Bitter";
        src: url("../fonts/bitter-italic-variable-font-wght.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-stretch: 100% 100%;
        font-style: italic;
    }

    @font-face {
        font-display: swap;
        font-family: "Kumbh Sans";
        src: url("../fonts/kumbh-sans-variable-font-wght.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-stretch: 100% 100%;
        font-style: normal;
    }

    @font-face {
        font-display: swap;
        font-family: "Roboto Mono";
        src: url("../fonts/roboto-mono-variable-font_wght.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-stretch: 100% 100%;
        font-style: normal;
    }

    body {
        background-color: var(--color-scheme-base);
        color: var(--color-scheme-contrast);
        font-family: var(--font-primary, sans-serif);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }

    h1, h2, h3, h4, h5 ,h6 {
        font-family: var(--font-secondary, serif);
        font-weight: 700;
    }

    h1 {
        font-size: var(--respon-size-2xl);
    }

    h2 {
        font-size: var(--respon-size-xl);
    }

    h3 {
        font-size: var(--respon-size-lg);
    }

    h4 {
        font-size: var(--respon-size-md);
    }

    h5 {
        font-size: var(--respon-size-sm);
    }

    h6 {
        font-size: var(--respon-size-xs);
    }

    :is(a, li, p) {
        font-size: var(--font-size);
    }

    a:link {
        color: var(--secondary-20);
        display: inline-block;
        font-weight: 450;
        transition: color 100ms ease-in;
    }

    a:hover {
        color: var(--color-scheme-contrast);
        text-underline-offset: 0.25rem;
    }

    a:focus {
        outline-color: var(--secondary-30);
        outline-width: 0.125rem;
    }

    ol, ul {
        margin-left: var(--respon-size-2xs);
    }

    li {
        list-style-type: disc;
    }

    li::marker {
        color: var(--accent-30);
    }
}

@layer layout {

    /*** Grid and Template Columns ***/

    .grid-cols {
        --col-min-width: 480px;
        --col-full: minmax(var(--equal-size-md), 1fr);
        --col-xs: min(var(--col-min-width), 100% - var(--equal-size-xl));
        --col-sm: minmax(0, 5rem);
        --col-md: minmax(0, 5rem);
        --col-lg: minmax(0, 5rem);
        --col-xl: minmax(0, 10rem);

        display: grid;
        grid-template-columns:
            [col-full-start] var(--col-full)
            [col-xl-start] var(--col-xl)
            [col-lg-start] var(--col-lg)
            [col-md-start] var(--col-md)
            [col-sm-start] var(--col-sm)
            [col-xs-start] var(--col-xs) [col-xs-end]
            var(--col-sm) [col-sm-end]
            var(--col-md) [col-md-end]
            var(--col-lg) [col-lg-end]
            var(--col-xl) [col-xl-end]
            var(--col-full) [col-full-end];
    }

    .grid-cols > *,
    .col-md {
        grid-column: col-md;
    }

    .col-xs {
        grid-column: col-xs;
    }

    .col-sm {
        grid-column: col-sm;
    }

    .col-lg {
        grid-column: col-lg;
    }

    .col-xl {
        grid-column: col-xl;
    }

    .col-full {
        grid-column: col-full;
    }

    /*** Vertical margins in the Content Wrapper ***/

    .content__wrapper {
        row-gap: var(--respon-size-2xl);
    }

    .content__wrapper > div > * + *,
    .content__wrapper :is(ol, ul) {
        margin-top: var(--respon-size-xl);
    }

    .content__wrapper h1 + *,
    .content__wrapper p + a,
    .content__wrapper a + a {
        margin-top: var(--respon-size-md);
    }
    
    .content__wrapper h2 + * {
        margin-top: var(--respon-size-xs);
    }
    
    .content__wrapper :is(h3, h4) + * {
        margin-top: var(--respon-size-2xs);
    }
    
    .content__wrapper :is(h5, h6) + *,
    .content__wrapper li + li {
        margin-top: var(--respon-size-3xs);
    }

    /*** Vertical paddings of the Wrappers ***/

    :is(.header__wrapper, .footer__wrapper) {
        padding-block: var(--respon-size-md);
    }

    .content__wrapper {
        padding-block: calc(var(--respon-size-md) * 2);
    }

    /*** Header ***/

    .header__wrapper {
        border-top: clamp(0.25rem, 1vw, 0.375rem) solid var(--accent-30);
    }

    /*** Footer ***/

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--respon-size-3xs);
    }
}

@layer components {

    [class*="button"] {
        background-color: transparent;
        border-radius: 3rem;
        color: var(--primary-30);
        transition: all 150ms ease-in;
        position: relative;
    }

    .button:hover,
    [class*="button"]:not(:has(span)):hover {
        color: var(--primary-10);
    }

    :is(.button-primary, .button-secondary, .button-accent) {
        padding: var(--respon-size-3xs) var(--respon-size-md);
    }

    :is(.button-primary, .button-secondary, .button-accent) span {
        position: relative;
    }

    :is(.button-primary, .button-secondary, .button-accent):has(span) {
        border-width: 0.125rem;
        border-style: solid;
        text-decoration: none;
    }

    :is(.button-primary, .button-secondary, .button-accent):has(span):before {
        content: " ";
        background-color: var(--button-background);
        width: calc(100% - 0.25rem);
        height: calc(100% - 0.25rem);
        border-radius: 3rem;
        margin: 0.125rem;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0.75);
        transition: all 150ms ease-in;
    }

    :is(.button-primary, .button-secondary, .button-accent):has(span):hover:before {
        transform: scale(1);
    }

    /*** Button Primary ***/

    .button-primary {
        border-color: var(--primary-50);
        color: var(--primary-30);
    }

    .button-primary:hover {
        --button-background: var(--primary-50);
        border-color: var(--primary-50);
        color: var(--color-scheme-contrast);
    }

    .button-primary:active {
        --button-background: var(--primary-60);
        border-color: var(--primary-50);
    }

    /*** Button Secondary ***/

    .button-secondary {
        border-color: var(--secondary-20);
        color: var(--secondary-20);
    }

    .button-secondary:hover {
        --button-background: var(--secondary-20);
        border-color: var(--secondary-20);
        color: var(--color-scheme-base);
    }

    .button-secondary:active {
        --button-background: var(--secondary-30);
        border-color: var(--secondary-30);
    }

    /*** Button Accent ***/

    .button-accent {
        border-color: var(--accent-20);
        color: var(--accent-20);
    }

    .button-accent:hover {
        --button-background: var(--accent-20);
        border-color: var(--accent-20);
        color: var(--color-scheme-base);
    }

    .button-accent:active {
        --button-background: var(--accent-30);
        border-color: var(--accent-30);
    }

    /*** Button Specific Styles ***/

    .button-stealth {
        border-color: transparent;
        text-decoration: underline;
    }

    .button-stealth:hover {
        --button-background: var(--primary-50);
        border-color: transparent;
        color: var(--color-scheme-contrast);
        text-decoration: none;
    }

    .button-stealth:active {
        --button-background: var(--primary-60);
    }

    /*** Button Sizes ***/

    .button-sm {
        padding: var(--respon-size-4xs) var(--respon-size-2xs);
        font-size: var(--font-size-sm);
    }

    .button-md {
        padding: var(--respon-size-3xs) var(--respon-size-md);
        font-size: var(--font-size);
    }

    .button-lg {
        padding: var(--respon-size-2xs) var(--respon-size-xl);
        font-size: var(--font-size-lg);
    }

    /*** Logo ***/

    .logo {
        align-items: center;
        display: flex;
        gap: var(--respon-size-3xs);
        text-decoration: none;
        width: fit-content;
    }

    .logo__shape svg {
        width: clamp(3.5rem, 4vw, 4rem);
    }

    .logo__shape svg .stroke {
        stroke: var(--primary-30);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2.4;
    }

    .logo__shape svg .dot {
        fill: var(--primary-30);
    }

    .logo__shape svg .hexagon {
        fill: var(--primary-60);
    }

    .logo__text {
        display: flex;
        flex-direction: column;
    }

    .logo__text strong {
        color: var(--accent-20);
    }

    .logo__text span:first-child {
        color: var(--color-scheme-contrast);
        font-family: var(--font-secondary);
        font-size: clamp(1.125rem, 1.5vw, 1.5rem);
        font-weight: 500;
        letter-spacing: 0.0375rem;
        line-height: 1.25;
    }

    .logo__text span:last-child {
        color: var(--primary-20);
        font-family: var(--font-monospace);
        font-size: clamp(0.75rem, 1vw, 0.875rem);
        text-transform: uppercase;
    }

    @media only screen and (min-width: 501px) {

        .logo__text span:first-child br {
            display: none;
        }
    }

    @media only screen and (max-width: 500px) {

        .logo__text span:last-child {
            display: none;
        }
    }

    /*** Showcase ***/

    .showcase {
        background-color: var(--color-scheme-subtle);
        border-radius: var(--adapt-size-sm);
        display: grid;
        grid-template-rows: 1fr max-content;
        overflow: auto;
        transition: background 100ms ease-in;
    }

    .showcase:hover {
        background-color: var(--primary-60);
    }

    .showcase:active {
        background-color: var(--primary-70);
    }

    .showcase__text {
        padding: var(--adapt-size-md);
    }

    .showcase__text h3 {
        color: var(--primary-10);
        font-size: var(--font-size-xs);
    }

    .showcase__text h4 {
        font-size: clamp(1.5rem, 2vw, 2rem);
        margin-top: 0.25rem;
    }

    .showcase__text ul {
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }
    
    .showcase__text ul li {
        color: var(--primary-30);
        font-family: var(--font-monospace);
        font-size: var(--respon-size-3xs);
        list-style: none;
        margin: 0;
        text-transform: uppercase;
    }

    .showcase__text ul li:not(:last-child):after {
        content: ", ";
    }

    .showcase__image {
        padding-left: var(--adapt-size-md);
    }

    .showcase__image img {
        aspect-ratio: 16 / 10;
        object-fit: contain;
        width: 100%;
    }

    /*** Scroll Slider, Oh Snap! ***/

    .scroll-snap-x {
        display: flex;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }

    .scroll-snap-x > * {
        flex-shrink: 0;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    .scroll-showcases {
        gap: var(--adapt-size-sm);
        padding: var(--adapt-size-sm);
        scroll-padding: var(--adapt-size-sm);
    }

    .scroll-showcases > * {
        inline-size: min(480px,100%);
    }

    /*** Tabs ***/

    .tabs {
        background-color: var(--color-scheme-subtle);
        display: flex;
    }

    .tab__list {
        display: flex;
        gap: var(--equal-size-sm);
    }

    .tab__list button {
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: calc(var(--equal-size-xs) - 0.25rem);
        color: var(--primary-30);
        display: grid;
        font-family: var(--font-secondary);
        font-size: var(--font-size-xs);
        font-weight: 700;
        gap: var(--equal-size-sm);
        padding: var(--equal-size-xs) var(--equal-size-sm);
        transition: color 100ms ease-in, background 100ms ease-in;
    }

    .tab__list button[aria-selected="true"] {
        background-color: var(--primary-70);
        color: var(--primary-20);
    }

    .tab__list button:hover {
        background-color: var(--primary-60);
        color: var(--color-scheme-contrast);
    }

    .tab__list button:active {
        background-color: var(--primary-70);
        color: var(--primary-30);
    }

    .tab__list button figure {
        width: 96px;
    }

    .tab__panel {
        align-items: center;
        background-color: var(--primary-70);
        display: flex;
        margin-top: 0;
        padding: var(--adapt-size-lg);
    }

    @media only screen and (min-width: 961px) {
        
        .tabs {
            border-radius: var(--equal-size-sm);
            flex-direction: row;
            gap: var(--equal-size-xs);
            grid-column: col-xl;
            padding: var(--equal-size-xs);
        }

        :is(.tab__list, .tab__panel) {
            border-radius: var(--equal-size-xs);
        }

        .tab__list {
            flex-direction: column;
            padding: var(--equal-size-xs);
        }

        .tab__list button {
            grid-template-columns: 1fr minmax(120px, 1fr);
        }
    }

    @media only screen and (max-width: 960px) {
        
        .tabs {
            flex-direction: column;
            grid-column: col-full;
        }

        .tab__list {
            align-self: center;
            flex-direction: row;
            max-width: 100%; /* fix for scroll-snap & align-self */
            overflow-x: auto;
            padding: var(--equal-size-xs);
        }

        .tab__list button span {
            width: max-content;
        }

        .tab__list button figure {
            display: none;
        }
    }

    /*** Dock ***/

    .dock {
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: var(--respon-size-2xs);
        display: inline-flex;
        gap: var(--respon-size-4xs);
        margin-left: 0;
        padding: 0.5rem;
    }

    .dock__item {
        height: var(--equal-size-lg);
        list-style: none;
        margin: 0;
        position: relative;
        transition: all 100ms ease-in;
        width: var(--equal-size-lg);
    }

    .dock__item figure {
        display: flex;
        justify-content: center;
    }

    .dock__item img {
        border-radius: var(--respon-size-4xs);
        transition: all 100ms ease-in;
        z-index: 1;
    }

    .dock__item figcaption {
        background-color: var(--primary-40);
        border-radius: 0.25rem;
        font-size: 1rem;
        opacity: 0;
        padding: 0.125rem 0.375rem;
        position: absolute;
        transform: translateY(-60%);
        transition: all 100ms ease-in;
    }

    .dock__item:hover {
        margin-inline: 0.25rem;
    }

    .dock__item:hover img {
        transform: scale(1.25) translateY(-10%);
    }

    .dock__item:hover figcaption {
        opacity: 1;
        transform: translateY(-160%);
    }
}

@layer utilities {

    /*** Header Sizes ***/

    .heading-2xs {
        font-size: var(--heading-size-2xs);
    }

    .heading-xs {
        font-size: var(--heading-size-xs);
    }

    .heading-sm {
        font-size: var(--heading-size-sm);
    }

    .heading-md {
        font-size: var(--heading-size);
    }

    .heading-lg {
        font-size: var(--heading-size-lg);
    }

    .heading-xl {
        font-size: var(--heading-size-xl);
    }

    .heading-2xl {
        font-size: var(--heading-size-2xl);
    }

    /*** Text Sizes ***/

    .text-xs,
    .text-xs :is(a, p) {
        font-size: var(--font-size-xs);
    }

    .text-sm,
    .text-sm :is(a, p) {
        font-size: var(--font-size-sm);
    }

    .text-md,
    .text-md :is(a, p) {
        font-size: var(--font-size);
    }

    .text-lg,
    .text-lg :is(a, p) {
        font-size: var(--font-size-lg);
    }

    .text-xl,
    .text-xl :is(a, p) {
        font-size: var(--font-size-xl);
    }

    /*** Text Align ***/

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-start {
        text-align: start;
    }

    .text-end {
        text-align: end;
    }

    /*** Background Color ***/

    .bg-color {
        background-color: var(--color-scheme-subtle);
        border-radius: var(--equal-size-md);
        padding: var(--respon-size-md);
    }

    .bg-color .bg-color {
        background-color: var(--primary-60);
        border-radius: var(--equal-size-xs);
    }
}

@layer overrides {

    /*** Full Column doesn't like a radius =) ***/

    .col-full.bg-color {
        border-radius: unset;
    }
}