@layer reset, base, layout;

@layer base {

    @font-face {
        font-display: swap;
        font-family: "Bitter";
        src: url("../fonts/bitter-variable-font-wght.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-stretch: 100% 100%;
        font-style: normal;
    }

    @font-face {
        font-display: swap;
        font-family: "Bitter";
        src: url("../fonts/bitter-italic-variable-font-wght.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-stretch: 100% 100%;
        font-style: italic;
    }

    @font-face {
        font-display: swap;
        font-family: "Kumbh Sans";
        src: url("../fonts/kumbh-sans-variable-font-wght.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-stretch: 100% 100%;
        font-style: normal;
    }

    @font-face {
        font-display: swap;
        font-family: "Roboto Mono";
        src: url("../fonts/roboto-mono-variable-font_wght.woff2") format("woff2-variations");
        font-weight: 100 900;
        font-stretch: 100% 100%;
        font-style: normal;
    }

    body {
        background-color: var(--color-scheme-base);
        color: var(--color-scheme-contrast);
        font-family: var(--font-primary, sans-serif);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }

    h1, h2, h3, h4, h5 ,h6 {
        font-family: var(--font-secondary, serif);
        font-weight: 700;
    }

    h1 {
        font-size: var(--base-size-xl);
    }

    h2 {
        font-size: var(--base-size-lg);
    }

    h3 {
        font-size: var(--base-size-md);
    }

    h4 {
        font-size: var(--base-size-sm);
    }

    h5 {
        font-size: var(--base-size-xs);
    }

    h6 {
        font-size: var(--base-size-2xs);
    }

    p {
        font-size: var(--font-size);
    }
}

@layer layout {
    
    main {
        max-width: 72ch;
    }
}

@layer utilities {

    .heading-2xs {
        font-size: var(--heading-size-2xs);
    }

    .heading-xs {
        font-size: var(--heading-size-xs);
    }

    .heading-sm {
        font-size: var(--heading-size-sm);
    }

    .heading-md {
        font-size: var(--heading-size);
    }

    .heading-lg {
        font-size: var(--heading-size-lg);
    }

    .heading-xl {
        font-size: var(--heading-size-xl);
    }

    .heading-2xl {
        font-size: var(--heading-size-2xl);
    }

    .text-xs {
        font-size: var(--font-size-xs);
    }

    .text-sm {
        font-size: var(--font-size-sm);
    }

    .text-md {
        font-size: var(--font-size);
    }

    .text-lg {
        font-size: var(--font-size-lg);
    }

    .text-xl {
        font-size: var(--font-size-xl);
    }
}