@layer base {
    :root {
        
        /*** Colors ***/

        --hue-primary-color: 240;
        --hue-secondary-color: 200;
        --hue-accent-color: 168;
        
        --color-scheme-base: hsl(var(--hue-primary-color), 56%, 8%);
        --color-scheme-subtle: hsl(var(--hue-primary-color), 56%, 16%);
        --color-scheme-contrast: hsl(var(--hue-primary-color), 56%, 96%);

        --primary-10: hsl(var(--hue-primary-color), 56%, 92%);
        --primary-20: hsl(var(--hue-primary-color), 56%, 84%);
        --primary-30: hsl(var(--hue-primary-color), 56%, 72%);
        --primary-40: hsl(var(--hue-primary-color), 56%, 48%);
        --primary-50: hsl(var(--hue-primary-color), 56%, 32%);
        --primary-60: hsl(var(--hue-primary-color), 56%, 24%);
        --primary-70: hsl(var(--hue-primary-color), 56%, 12%);

        --secondary-10: hsl(var(--hue-secondary-color), 100%, 72%);
        --secondary-20: hsl(var(--hue-secondary-color), 100%, 64%);
        --secondary-30: hsl(var(--hue-secondary-color), 100%, 48%);

        --accent-10: hsl(var(--hue-accent-color), 100%, 64%);
        --accent-20: hsl(var(--hue-accent-color), 100%, 52%);
        --accent-30: hsl(var(--hue-accent-color), 100%, 40%);

        /*** Font Families ***/

        --font-primary: "Kumbh Sans", "Arial", sans-serif;
        --font-secondary: "Bitter", "Georgia", serif;
        --font-monospace: "Roboto Mono", "Courier New", monospace;

        /*** Font Sizes ***/

        --font-size: clamp(1.125rem, 1.5vw, 1.375rem);     /* 18px - 22px */
        --font-size-xs: calc(var(--font-size) - 0.25rem);   /* 14px - 18px */
        --font-size-sm: calc(var(--font-size) - 0.125rem);  /* 16px - 20px */
        --font-size-lg: calc(var(--font-size) + 0.125rem);  /* 20px - 24px */
        --font-size-xl: calc(var(--font-size) + 0.25rem);   /* 22px - 26px */

        /*** Responsive Sizes ***/

        --responsive-val: 0.25rem;
        --responsive-size-4xs: clamp(0.5rem, calc(var(--responsive-val) + 0.5vw), 0.75rem);    /* 8px - 12px */
        --responsive-size-3xs: clamp(0.75rem, calc(var(--responsive-val) + 0.75vw), 1rem);     /* 12px - 16px */
        --responsive-size-2xs: clamp(1rem, calc(var(--responsive-val) + 1vw), 1.25rem);        /* 16px - 20px */
        --responsive-size-xs: clamp(1.125rem, calc(var(--responsive-val) + 1.25vw), 1.5rem);   /* 18px - 24px */
        --responsive-size-sm: clamp(1.25rem, calc(var(--responsive-val) + 1.5vw), 1.75rem);    /* 20px - 28px */
        --responsive-size-md: clamp(1.5rem, calc(var(--responsive-val) + 1.75vw), 2rem);       /* 24px - 32px */
        --responsive-size-lg: clamp(1.75rem, calc(var(--responsive-val) + 2vw), 2.25rem);      /* 28px - 36px */
        --responsive-size-xl: clamp(2rem, calc(var(--responsive-val) + 2.5vw), 2.75rem);       /* 32px - 44px */
        --responsive-size-2xl: clamp(2.25rem, calc(var(--responsive-val) + 3.25vw), 3.5rem);   /* 36px - 56px */
        --responsive-size-3xl: clamp(2.5rem, calc(var(--responsive-val) + 4.25vw), 4.5rem);    /* 40px - 72px */
        --responsive-size-4xl: clamp(3rem, calc(var(--responsive-val) + 5.75vw), 6rem);        /* 48px - 96px */

        /*** Proportional & Adaptive Sizes ***/

        --base-size-min: 1.25rem;
        --base-size-val: 2vw;
        --base-size-max: 2rem;
        --base-size: clamp(var(--base-size-min), var(--base-size-val), var(--base-size-max));

        --proportional-size-xs: calc(var(--base-size) * 0.5);   /* 10px - 16px */
        --proportional-size-sm: calc(var(--base-size) * 0.75);  /* 15px - 24px */
        --proportional-size-md: var(--base-size);               /* 20px - 32px */
        --proportional-size-lg: calc(var(--base-size) * 1.5);   /* 30px - 48px */
        --proportional-size-xl: calc(var(--base-size) * 2);     /* 40px - 64px */

        --adaptive-size-xs: clamp(var(--base-size-min), calc(var(--base-size-val) * 0.75), calc(var(--base-size-max) * 0.75));  /* 20px - 24px */
        --adaptive-size-sm: clamp(var(--base-size-min), var(--base-size-val), var(--base-size-max));                            /* 20px - 32px */
        --adaptive-size-md: clamp(var(--base-size-min), calc(var(--base-size-val) * 1.5), calc(var(--base-size-max) * 1.5));    /* 20px - 48px */
        --adaptive-size-lg: clamp(var(--base-size-min), calc(var(--base-size-val) * 2), calc(var(--base-size-max) * 2));        /* 20px - 64px */
        --adaptive-size-xl: clamp(var(--base-size-min), calc(var(--base-size-val) * 3), calc(var(--base-size-max) * 3));        /* 20px - 96px */
    }
}