@layer base {

    :root {

        /*** Colors ***/

        --hue-primary: 240;
        --saturation-primary: 50%;
        --saturation: 100%;

        /*** Font Families ***/

        --font-primary: "Kumbh Sans", "Arial", sans-serif;
        --font-secondary: "Bitter", "Georgia", serif;
        --font-monospace: "Roboto Mono", "Courier New", monospace;

        /*** Font Sizes ***/

        --font-size: clamp(1.125rem, 1.5vw, 1.375rem);     /* 18px - 22px */
        --font-size-xs: calc(var(--font-size) - 0.25rem);   /* 14px - 18px */
        --font-size-sm: calc(var(--font-size) - 0.125rem);  /* 16px - 20px */
        --font-size-lg: calc(var(--font-size) + 0.125rem);  /* 20px - 24px */
        --font-size-xl: calc(var(--font-size) + 0.25rem);   /* 22px - 26px */

        /*** Responsive Sizes ***/

        --respon-val: 0.25rem;
        --respon-size-5xs: clamp(0.25rem, calc(var(--respon-val) + 0.25vw), 0.5rem);   /* 8px - 12px */
        --respon-size-4xs: clamp(0.5rem, calc(var(--respon-val) + 0.5vw), 0.75rem);    /* 8px - 12px */
        --respon-size-3xs: clamp(0.75rem, calc(var(--respon-val) + 0.75vw), 1rem);     /* 12px - 16px */
        --respon-size-2xs: clamp(1rem, calc(var(--respon-val) + 1vw), 1.25rem);        /* 16px - 20px */
        --respon-size-xs: clamp(1.125rem, calc(var(--respon-val) + 1.25vw), 1.5rem);   /* 18px - 24px */
        --respon-size-sm: clamp(1.25rem, calc(var(--respon-val) + 1.5vw), 1.75rem);    /* 20px - 28px */
        --respon-size-md: clamp(1.5rem, calc(var(--respon-val) + 1.75vw), 2rem);       /* 24px - 32px */
        --respon-size-lg: clamp(1.75rem, calc(var(--respon-val) + 2vw), 2.25rem);      /* 28px - 36px */
        --respon-size-xl: clamp(2rem, calc(var(--respon-val) + 2.5vw), 2.75rem);       /* 32px - 44px */
        --respon-size-2xl: clamp(2.25rem, calc(var(--respon-val) + 3.25vw), 3.5rem);   /* 36px - 56px */
        --respon-size-3xl: clamp(2.5rem, calc(var(--respon-val) + 4.25vw), 4.5rem);    /* 40px - 72px */
        --respon-size-4xl: clamp(3rem, calc(var(--respon-val) + 5.75vw), 6rem);        /* 48px - 96px */
        --respon-size-5xl: clamp(3.75rem, calc(var(--respon-val) + 7.75vw), 8rem);     /* 60px - 128px */

        /*** Proportional & Adaptive Sizes ***/

        --size-min: 1.25rem;
        --size-val: 2vw;
        --size-max: 2rem;
        --size: clamp(var(--size-min), var(--size-val), var(--size-max));

        --equal-size-xs: calc(var(--size) * 0.5);   /* 10px - 16px */
        --equal-size-sm: calc(var(--size) * 0.75);  /* 15px - 24px */
        --equal-size-md: var(--size);               /* 20px - 32px */
        --equal-size-lg: calc(var(--size) * 1.5);   /* 30px - 48px */
        --equal-size-xl: calc(var(--size) * 2);     /* 40px - 64px */

        --adapt-size-xs: clamp(var(--size-min), calc(var(--size-val) * 0.75), calc(var(--size-max) * 0.75));  /* 20px - 24px */
        --adapt-size-sm: clamp(var(--size-min), var(--size-val), var(--size-max));                            /* 20px - 32px */
        --adapt-size-md: clamp(var(--size-min), calc(var(--size-val) * 1.5), calc(var(--size-max) * 1.5));    /* 20px - 48px */
        --adapt-size-lg: clamp(var(--size-min), calc(var(--size-val) * 2), calc(var(--size-max) * 2));        /* 20px - 64px */
        --adapt-size-xl: clamp(var(--size-min), calc(var(--size-val) * 3), calc(var(--size-max) * 3));        /* 20px - 96px */
    }

    @media (prefers-color-scheme: dark) {
        :root {

            /*** Color HSL Values ***/

            --hue-secondary: 200;
            --hue-accent: 168;
            --lightness: 100%;

            /*** Color Scheme ***/

            --theme-base: hsl(var(--hue-primary), var(--saturation-primary), 8%);
            --theme-subtle: hsl(var(--hue-primary), var(--saturation-primary), 10%);
            --theme-forground: hsl(var(--hue-primary), var(--saturation-primary), 16%);
            --theme-contrast: hsl(var(--hue-primary), var(--saturation-primary), 96%);

            /*** Primary Color ***/

            --primary-10: hsl(var(--hue-primary), var(--saturation-primary), 92%);
            --primary-20: hsl(var(--hue-primary), var(--saturation-primary), 84%);
            --primary-30: hsl(var(--hue-primary), var(--saturation-primary), 72%);
            --primary-40: hsl(var(--hue-primary), var(--saturation-primary), 64%);
            --primary-50: hsl(var(--hue-primary), var(--saturation-primary), 32%);
            --primary-60: hsl(var(--hue-primary), var(--saturation-primary), 24%);
            --primary-70: hsl(var(--hue-primary), var(--saturation-primary), 20%);

            /*** Secondary Color ***/

            --secondary-10: hsl(var(--hue-secondary), var(--saturation), 64%);
            --secondary-20: hsl(var(--hue-secondary), var(--saturation), 48%);
            --secondary-30: hsl(var(--hue-secondary), var(--saturation), 36%);

            /*** Accent Color ***/

            --accent-10: hsl(var(--hue-accent), var(--saturation), 52%);
            --accent-20: hsl(var(--hue-accent), var(--saturation), 40%);
            --accent-30: hsl(var(--hue-accent), var(--saturation), 28%);
        }
    }

    @media (prefers-color-scheme: light) {
        :root {
            
            /*** Color HSL Values ***/

            --hue-secondary: 208;
            --hue-accent: 160;
            --lightness: 0%;

            /*** Color Scheme ***/

            --theme-base: hsl(var(--hue-primary), var(--saturation-primary), 96%);
            --theme-subtle: hsl(var(--hue-primary), var(--saturation-primary), 94%);
            --theme-forground: hsl(var(--hue-primary), var(--saturation-primary), 90%);
            --theme-contrast: hsl(var(--hue-primary), var(--saturation-primary), 20%);

            /*** Primary Color ***/

            --primary-10: hsl(var(--hue-primary), var(--saturation-primary), 24%);
            --primary-20: hsl(var(--hue-primary), var(--saturation-primary), 32%);
            --primary-30: hsl(var(--hue-primary), var(--saturation-primary), 48%);
            --primary-40: hsl(var(--hue-primary), var(--saturation-primary), 56%);
            --primary-50: hsl(var(--hue-primary), var(--saturation-primary), 76%);
            --primary-60: hsl(var(--hue-primary), var(--saturation-primary), 84%);
            --primary-70: hsl(var(--hue-primary), var(--saturation-primary), 88%);

            /*** Secondary Color ***/

            --secondary-10: hsl(var(--hue-secondary), var(--saturation), 36%);
            --secondary-20: hsl(var(--hue-secondary), var(--saturation), 44%);
            --secondary-30: hsl(var(--hue-secondary), var(--saturation), 52%);

            /*** Accent Color ***/

            --accent-10: hsl(var(--hue-accent), var(--saturation), 24%);
            --accent-20: hsl(var(--hue-accent), var(--saturation), 28%);
            --accent-30: hsl(var(--hue-accent), var(--saturation), 36%);
        }
    }
}